/* 여기서부터 css해주세요 */

#about {
  width: 100%;
}

#about #inner {
  margin: 0px auto;
  padding: 64px;
  display: flex;
  max-width: 1280px;
  width: calc(100%-400px);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
}

#about #set {
  display: flex;
  align-items: flex-start;
  gap: 36px;
  align-self: stretch;
}

#about #card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}

#about .card-icon {
  width: 24px;
  height: 24px;
}

#about .card-title {
  color: #000;
  /* Label/Large */
  font-family: Pretendard;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

#about .card-contents {
  align-self: stretch;
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

#about .card-button {
  color: #000;
  display: flex;
  padding: 4px;
  align-items: flex-start;
  border-bottom: 1px solid #000;
  background-color: #fff;
  text-decoration: none;
}

/* 태블릿 (850px 이하) */
@media (max-width: 850px) {
  #about #inner {
    width: 100%;
    margin: 0;
    padding: 56px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }

  #about #set {
    display: flex;
    align-items: flex-start;
    gap: 36px;
    align-self: stretch;
  }

  #about #card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
  }
}

/* 모바일 (500px 이하) */
@media (max-width: 500px) {
  #about #inner {
    width: 100%;
    margin: 0;
    display: flex;
    padding: 40px 24px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }

  #about #set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    align-self: stretch;
  }

  #about #card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }
}
