/* 여기서부터 css해주세요 */

:root {
  font-family: 'PretendardVariable', sans-serif;
}

@font-face {
  font-family: 'PretendardVariable';
  src: url(/font/woff2/PretendardVariable.woff2);
  font-weight: 100 900;
}

.banner-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.banner {
  background-image: url(/src/images/UberTaxi.png);
  position: relative;
  inline-size: 100%;
  block-size: 399px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contents {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  inline-size: 100%;
  max-inline-size: 1280px;
  margin-inline: auto;
  box-sizing: border-box;
}

.download-btn {
  background-color: #000;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  box-sizing: border-box;
  border: 0px;
  cursor: pointer;

  .btn-text {
    color: white;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
  }
}

.contents-text {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;

  .banner-title,
  .banner-text {
    display: block;
    margin: 0;
  }

  .banner-title {
    font-size: 50px;
    font-weight: 700;
    white-space: nowrap;
  }

  .banner-text {
    font-size: 16px;
    font-weight: 500;
  }
}

@media (width <= 850px) {
  .banner {
    width: 100%;
    block-size: 359px;
    background-position: 50% center;
  }

  .contents {
    padding: 56px 32px;
    inline-size: 100%;
    max-inline-size: 786px;
    box-sizing: border-box;

    .banner-title {
      font-size: 38px;
    }
    .banner-text {
      font-size: 16px;
    }
  }
}

@media (width <= 500px) {
  .banner {
    width: 100%;
    block-size: 256px;
    background-position: 60% center;
  }

  .contents {
    padding: 40px 24px;
    box-sizing: border-box;
    inline-size: 100%;
    max-inline-size: 500px;

    .banner-title {
      font-size: 28px;
    }
    .banner-text {
      font-size: 16px;
    }
  }
}
